<h1 class="text-center text-white mb-3">Editing Article</h1>

<%= render 'form', article: @article %>
<div class="text-center mt-5">
    <%= link_to 'Back', articles_path , class: "text-center btn btn-success" %>
</div>