<h1 class="text-center text-white">Editing User</h1>

<%= render 'form', obj: @user %>
<div class="text-center mt-5">
    <%= link_to 'Back', user_path(@user) , class: "text-center btn btn-dark" %>
</div>